<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <%- include('header.ejs') -%>
    <link rel="stylesheet" href="../../public/style/login.css">
</head>
<body>

    <section class="full">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <h1 class="wordwork mb-4">
                        <i class="fa-brands fa-twitter"></i>
                        <span class="logo">twitter</span>
                    </h1>
                    <h5 class="text-center">
                        Hey there!
                        <br>
                        How are you doing today?
                    </h5>
                    <div class="row mt-4">
                        <div class="col-3 d-flex justify-content-center">
                            <a href="/register" class="btn btn-primary"> Register </a>
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            <a href="/login" class="btn btn-outline-primary"> Login </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>