<div class="box" id="heading">
    <h1>  <%= addlist %>  </h1>   
</div>
<div class="box n">
   
        <form action="/" class="ite addlist" method="POST">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" class="addbtn" value="submit">Submit</button>
        </form>  
</div>