
    <form action="">
        <a href="/"><i class="fa fa-solid fa-right-arrow backbtn">back</i></a>
        <!-- <button class="backbtn">back</button> -->
    </form>
    <div class="box" id="heading">
        <h1>
            <%= titleName %>
        </h1>
    </div>
    <div class="n box">
        <% for(let list of listItem) { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="list" value="<%= list._id %>" onChange="this.form.submit()">
                    <p>
                    
                        <%= list.name %>
                            <!-- only show name -->
                    </p>
                </div>
            </form>
            <% } %>
                <form action="/list" class="item" method="post">
                    <input type="text" class="listtext" name="newList" placeholder="Add New Item" autocomplete="off">
                    <button type="submit" class="listbtn" name="list" value="">+</button>
                </form>
    </div>
    