<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todoList</title>
</head>
<body>
 
        <div class="box" id="heading">
            <h1><%= titleName %>   </h1>                        
        </div>
        <div class="box2">
           
            <% for(let item of listItems) { %>
                <div class="item">
                    <!-- <p>two default list add automatically from data base</p> 
               <p>click here to print list name only </p> -->
                    <a href="/list"><%= item.name %></a>                                          
                   
                </div>
                <% } %>
        </div>
        <form action="/list">
            <button class="plusbtn" type="submit"><a href="/addlist">+</a></button>
        </form>
        
</body>

</html>